# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a750521509f2b4462595fe2e50ffd22be976a15ee9ff7e2576282fb5c82cf4f1f33d21521b78da2de02e97e1f7eec3cb53d73e22cfb8bb521b07ec27a47538c6

test:
  secret_key_base: 1851cf34ef9bf90e7d33ca6110cd20664488c14972c8b5e4e6f45442a8f4f8eeb72b90350fe8e006dbe02aa89b7b2a0788ccace7fd6ef0bcc2285fc256822313

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
